<header role="banner" class="content">

  {% assign default_paths = site.pages | sort: 'order' | map: 'path' %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <a href="{{ '/' | relative_url }}" class="logo-link">
    <img src="{{ 'assets/logo.png' | relative_url }}" alt="{{ site.title | escape }}" width="336">
    <h1>{{ site.title | escape }}</h1>
  </a>

  {% if page_paths %}
    <nav>
      <input type="checkbox" id="nav-button">
      <label for="nav-button">
        <div class="menu-icon">
          <span>Menu</span>
        </div>
      </label>

      <div class="menu">
        {% for path in page_paths %}
          {% assign my_page = site.pages | where: 'path', path | first %}

          {% assign active_class = '' %}
          {% if page.url == my_page.url %}
            {% assign active_class = 'menu-link--active' %}
          {% endif %}

          {% if my_page.title %}
            <a class="menu-link {{ active_class }}" href="{{ my_page.url | relative_url }}">
              {{ my_page.title | escape }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  {% endif %}

</header>
