<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{ site.title | escape }}</title>

  <meta name="description" content="Naturkindergarten auf dem Stadtwerder in Bremen">

  <link rel="canonical" href="{{ site.url }}">
  <meta property="og:locale" content="de_DE">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Naturkindergarten auf dem Stadtwerder in Bremen">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.title | escape }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
