<script type="text/javascript">
  NodeList.prototype.forEach = Array.prototype.forEach;

  document.getElementById('nav-button').addEventListener('change', function() {
    document.querySelector('body').classList.toggle('blur');
  });

  window.onload = function() {
    now = new Date();

  	document.querySelectorAll('[data-address]').forEach(function(e) {
  		schema  = e.getAttribute('data-schema');
  		address = e.getAttribute('data-address');
      title = e.getAttribute('data-title') || address;
  		target  = schema + ':' + address;

  		e.innerHTML = '<a href="' + target + '">' + title + '</a>';
  	});

    document.querySelectorAll('[data-gray-after]').forEach(function(e) {
      after = new Date(e.dataset.grayAfter);
      after.setDate(after.getDate() + 1);
      if (now > after) e.classList.add('gray');
    })
  }
</script>
