$s:   0px;
$m:   768px;
$l:   1024px;
$xl:  1200px;
$xxl: 1440px;

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin breakpoint-only($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
