@font-face {
  font-family: Greenbeans;
  src: url('/assets/fonts/greenbeans-umlauts.eot?#iefix');
  src: url('/assets/fonts/greenbeans-umlauts.eot?#iefix') format('eot'),
    url('/assets/fonts/greenbeans-umlauts.woff2') format('woff2'),
    url('/assets/fonts/greenbeans-umlauts.woff') format('woff');
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
}

h1,
h2,
h3 {
  font-family: Greenbeans;
  font-weight: normal;
  letter-spacing: .03em;
  margin: 1rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
}

p, ul {
  margin: 1rem 0;
  line-height: 1.5;
}

.gray {
  color: $gray;
}
