footer {
  color: $gray;
  border-top: 1px solid $gray;

  display: flex;
  flex-direction: column;

  margin: 5rem 0;
  padding: 1rem 2rem;

  ul {
    @include listreset();

    flex-grow: 1;
    margin-bottom: 1rem;
  }

  a {
    color: $gray;
  }

  @include breakpoint($m) {
    flex-direction: row;
  }
}
