footer {
  color: $gray;
  border-top: 1px solid $gray;

  display: flex;
  flex-direction: column;

  margin: 5rem 0;
  padding: 0 2rem;

  :first-child {
    flex-grow: 1;
  }

  a {
    color: $gray;
  }

  @include breakpoint($m) {
    flex-direction: row;
  }
}
