footer {
  color: $gray;
  border-top: 1px solid $gray;

  display: flex;
  flex-direction: column;

  margin-top: 5rem;
  padding: 1rem 2rem;

  ul {
    @include listreset();
    flex-grow: 1;
  }

  a {
    color: $gray;
  }

  @include breakpoint($m) {
    flex-direction: row;
  }
}
