header nav {
  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  z-index: 2;

  #nav-button, .menu {
    display: none;
  }

  #nav-button:checked ~ .menu {
    display: flex;
    flex-direction: column;
  }

  label[for="nav-button"] {
    text-align: right;
    z-index: 3;
  }

  .menu-icon {
    font-size: 3.25rem;

    margin-top: -1.75rem;
    margin-right: -.1rem;

    > * {
      display: none;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;

    justify-content: center;

    background-color: rgba($light-green, .9);
    padding: 1em 1em 25vh 2rem;

    width: 70vw;
    height: 100vh;

    .menu-link {
      font-family: Greenbeans;
      font-size: 3.2rem;
      color: $black;
      padding: 1rem;
      transition: transform 100ms;
      line-height: .75;

      &:hover, &:focus {
        text-decoration: none;
        transform: scale(1.05);
      }

      &--active {
        background-color: rgba(#fff, .375);
      }
    }
  }

  @include breakpoint($m) {
    position: relative;
    top: 0;
    right: 0;

    label[for="nav-button"] {
      display: none;
    }

    .menu {
      position: relative;

      background-color: transparent;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      height: auto;

      padding: 0;

      .menu-link {
        margin-right: 1rem;
      }
    }
  }
}

body.blur {
  overflow: hidden;

  &:before {
    content: '';

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    pointer-events: none;

    height: 100vh;
    width: 100vw;

    background-color: rgba(255, 255, 255, .5);
  }
}
