header nav {
  @mixin menu-shown {
    display: flex;
    flex-direction: column;
  }

  position: fixed;
  top: 2rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  #nav-button, .menu {
    display: none;
  }

  label[for="nav-button"] {
    text-align: right;
    z-index: 3;

    .menu-icon svg {
      transform: scale(1.5);
    }
  }

  #nav-button:checked ~ .menu {
    @include menu-shown;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 2;

    background-color: $light-green;
    padding: 1rem;

    width: 70vw;
    height: 100vh;

    .menu-link {
      font-family: Greenbeans;
      font-size: 28pt;
      padding: 1rem;
    }
  }

  @include breakpoint($m) {
    position: relative;
    top: 0;
    right: 0;

    label[for="nav-button"] {
      display: none;
    }

    .menu {
      @include menu-shown;

      position: relative;

      background-color: transparent;

      display: flex;
      flex-direction: row;

      height: auto;

      padding: 0;
    }
  }
}

body.blur:before {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
  pointer-events: none;

  height: 100vh;
  width: 100vw;

  filter: blur(.075rem);

  // .menu {
  //   filter: initial;
  // }
}
