---
---

@font-face {
  font-family: Greenbeans;
  src: url('/assets/fonts/greenbeans-umlauts.eot?#iefix');
  src: url('/assets/fonts/greenbeans-umlauts.eot?#iefix') format('eot'),
    url('/assets/fonts/greenbeans-umlauts.woff2') format('woff2'),
    url('/assets/fonts/greenbeans-umlauts.woff') format('woff');
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.site-header {
  border-top: initial;
  margin-top: 3rem;
}

.site-title,
.post-title {
}

.headline {
  font-family: Greenbeans;
  font-size: 52px;

  letter-spacing: .03em;

  &:hover {
    text-decoration: none;
  }
}

.post-title {
  font-size: 48px;
}

.rss-subscribe {
  text-align: right;
}
